* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

body {
  background-image: url(../Images/laptop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.navbar {
  padding: 0.5em;
  border-bottom: 0.5px solid white;

  a.logo {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1em;
    padding: 2px;
    margin: 2px;
  }

  .container {
    display: flex;
    place-content: space-between;
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
      display: inline-block;
      padding: 2px;
      margin: 2px;
      a {
        text-decoration: none;
        font-size: 1em;
      }
    }
  }
}
section {
  padding: 5em;
}
.section-first {
  h1 {
    font-size: 3em;
    margin-bottom: 1em;
  }
  .p-first {
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 1em;
  }

  a {
    border: 2px solid orangered;
    font-size: 1em;
    padding: 10px;
    background: orangered;
    text-decoration: none;
    border-radius: 30px;
  }
}
.section-second {
  border: 2px solid orangered;
  background-color: orangered;
  height: 28%;
  padding: 5em;
  .p-second {
    font-size: 2em;
  }
}
.special-x {
  font-size: 10em;
}
